{% extends 'base.html.twig' %}

{% block title %}Inscription - Profilau.top{% endblock %}

{% block body %}
<div>
    <div>
        <h2>Créez votre compte</h2>
    </div>

    <div>
        <div>
            {{ form_start(registrationForm) }}
                <div>
                    {{ form_label(registrationForm.firstName, 'Prénom') }}
                    <div>
                        {{ form_widget(registrationForm.firstName) }}
                    </div>
                </div>

                <div>
                    {{ form_label(registrationForm.lastName, 'Nom') }}
                    <div>
                        {{ form_widget(registrationForm.lastName) }}
                    </div>
                </div>

                <div>
                    {{ form_label(registrationForm.email, 'Email') }}
                    <div>
                        {{ form_widget(registrationForm.email) }}
                    </div>
                </div>

                <div>
                    {{ form_label(registrationForm.password, 'Mot de passe') }}
                    <div>
                        {{ form_widget(registrationForm.password) }}
                    </div>
                </div>

                <div>
                    <button type="submit">S'inscrire</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}